// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
  overflow: auto;
}


// Typography
body {
  background: $white;
  color: $black;
  font-family: $sans;
  font-weight: 300;
  line-height: golden-ratio(1,  1);;
}
.page-wrapper {
  @include font-size( $fs-base );
  margin: 0 auto;
  padding: 1em;

  @include mq-min($medium) {
    width: golden-ratio(100%, -1);
    margin: 0 0 0 golden-ratio(38.1953%, -2); // offset position
  }
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    border-bottom: 1px solid $black;
    color: $black;
  }

  &:focus,
  &:hover,
  &:active {
    border-bottom: 3px double $black;
  }

  .indicator {
    display: none;
  }
}


// temporary title replacement
abbr[title] {
  border: inherit;
  cursor: help;
}


// headings
h1,
h2,
h3 {
  font-family: $sans-bold;
  font-weight: bold;
  margin: golden-ratio(1em, 1) 0 1em;
  line-height: 1;
}
h1 {
  @include font-size( $fs-x2 );
}
h2 {
  @include font-size( $fs-x1 );
}
h3 {
  @include font-size( $fs-base );
  text-transform: uppercase;
}


// paragraph
p {
  margin: 1em 0;
}


// lists
ul {
  margin: 0;
  padding: 0 0 0 1em;
}



// primary components
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {

}



// Remove text-shadow, customize the background
::-moz-selection {
  background: transparentize($black, 0.5);
  text-shadow: none;
}
::selection {
  background: transparentize($black, 0.5);
  text-shadow: none;
}
