// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Typography
body {
  background: $offwhite;
  color: $black;
  font-family: $sans;
  font-weight: 300;
  line-height: golden-ratio(1,  1);;
  text-rendering: optimizeLegibility;
}
.page-wrapper {
  @include clearfix;
  @include font-size( $fs-base );
  margin: 0 auto;
  padding: 0 1em 2em;

  @include mq-min($medium) {
    width: golden-ratio(100%, -1);
    margin: golden-ratio(4em, 1) 0 4em golden-ratio(38.1953%, -2); // apply golden ratio to margins
  }
}


// Links
a {
  text-decoration: none;

  &:link,
  &:visited {
    border-bottom: 1px solid $black;
    color: $black;
  }

  &:focus,
  &:hover,
  &:active {
    border-bottom: 3px double $black;
  }

  .indicator {
    display: none;
  }
}

// Block Link Style (paired manually with display property)
@mixin blockLink {
  &,
  &:link,
  &:visited {
    background: $white;
    border: 1px solid $gray;
    line-height: 1;
    margin: 0 0 0.25em;
    padding: 0.25em golden-ratio(0.25em, 1) 0.25em;
  }

  &:focus,
  &:hover,
  &:active {
    background: $offwhite;
    border: 1px solid $white;
  }
}


// Title attributes
abbr[title] {
  border: none;
  cursor: help;
}


// headings
h1,
h2,
h3 {
  display: block; // declared for extensions
  font-family: $sans-bold;
  font-weight: bold;
  line-height: 1;
  margin: golden-ratio(1em, 2) 0 1em;
}
h1 {
  @include font-size( $fs-huge );
  font-family: $sans;
  font-weight: 300;
  position: relative;
}
h2 {
  @include font-size( $fs-big );
}
h3 {
  @include font-size( $fs-base );
  text-transform: uppercase;
}


// lists (reset all)
ul,
ol {
  @include reset-list;
}



// primary components
.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {

}


// Footer content
footer {
  margin-top: 3em;

  // Helper text
  &:before {
    @extend h3;
    content: "Utility Links:";
    display: block;
  }

  @include mq-min($medium) {
    @include font-size(17);
    left: 0;
    margin-top: golden-ratio(4em, 1);
    position: fixed;
    top: 0;

    &:before {
      display: none;
    }
  }

  // Links Styles
  a {
    @include blockLink;
    display: inline-block;

    // Helper text
    &.zen-validate-html:before,
    &.zen-validate-css:before {
      content: "Validate "
    }
    &.zen-license:after {
      content: " License";
    }
    &.zen-accessibility:after {
      content: " (FAQ)";
    }
    &.zen-github:before {
      content: "Fork via ";
    }

    @include mq-min($medium) {
      // @include font-size($fs-big);
      display: block;
      padding: 0.35em golden-ratio(0.25em, 1) 0.25em 0.5em;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}


.sidebar {
  &:before {
    @extend h2;
    content: "More from the CSS Zen Garden";
  }
}

.design-selection {

  a:first-child {
    @include blockLink;
    display: inline-block;
  }
}


// aside misc links
.design-archives,
.zen-resources {

  @include mq-min($medium) {
    float: left;
    width: 50%;
  }

  li {
    display: inline-block;
  }

  a {
    @include blockLink;
    display: inline-block;
  }
}



// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
