// Box-Sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Typography
body {
  background: $dark-green;
  color: $beige;
  font-family: $sans;
  font-weight: 300;
  line-height: 1.5;
}
.page-wrapper {
  @include font-size(16);
  padding: 0 1em;
}


// Links
a {
  text-decoration: none;

  &:link {
    color: $orange;
  }

  &:visited {
    color: lighten($orange, 10%);
  }

  &:focus,
  &:hover,
  &:active {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}


// headings
h1,
h2,
h3 {
  font-weight: 600;
}


// Layout
.container {
  padding: 0 1em 0 3em;
}


// Remove text-shadow, customize the background
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
