// Font Stack
$sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-bold: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


// Font sizes
$fs-base: 16;
$fs-big: golden-ratio( $fs-base, 1 );
$fs-huge: golden-ratio( $fs-base, 2 );


// Colors
$white: #FFF;
$offwhite: #EFEFEF;
$gray: #DDD;
$black: #333;
$accent: lighten(#E6B098, 15%);


// Breakpoint Variables
$small: 20em; // includes iPhone portrait
$medium: 48em; // includes iPad portrait
$large: 64em; // includes iPad landscape


// Media Query Mixins (http://jakearchibald.github.io/sass-ie/)
$fix-mqs: false !default;
@mixin mq-min($width) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}
@mixin mq-max($width) {
  @if $fix-mqs {
    @if $fix-mqs <= $width {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $width) {
      @content;
    }
  }
}


// Old IE Mixins (http://jakearchibald.github.io/sass-ie/)
$old-ie: false !default;
@mixin old-ie {
  @if $old-ie {
    @content;
  }
}


// REM Font Size Mixin
html {
  font-size: 62.5%;
}
@mixin font-size ( $size: $fs-base ) {
  font-size: $size + px;
  font-size: $size/10 + rem;
}


// list reset mixin
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}


// Hide only visually
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
